.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
.buttons {
      display: flex;
      margin-top: 1rem;
      justify-content: center;
  }
  
.buttons button {
      margin: 0 1rem;
  }
  
.buttons button:first-child {
      background-color: white;
      color: #317B53;
  }
.buttons button:nth-last-child(2) {
    background-color: crimson;
    border: crimson;
}